body {
  font-size: 16px;
  line-height: 1.8em;
  font-family: sans-serif;
  font-family: 'Roboto', sans-serif;
}

header {
  background-size: cover;
  background-image: url("../img/bg.jpg");
  background-position: fixed;
  color: $white;
  padding: 2em;
  text-align: center;
  
  img {
    @include center-block;
    @include box-size(150px);
    border-radius: 50%;
  }
  
  h1{
    text-transform: uppercase;
    margin: 1em 0;
  }
  
  section{
    @include center-block;
    max-width: 740px;
    padding: 0.5em;
  
  }
  
}