body {
  font-size: 16px;
  line-height: 1.8em;
  font-family: sans-serif;
  font-family: 'Roboto', sans-serif;
}

header {
  background-size: cover;
  background-image: url("../img/bg.jpg");
  background-position: fixed;
  color: $white;
  padding: 2em;
  text-align: center;
  
  img {
    @include center-block;
    @include box-size(150px);
    border-radius: 50%;
  }
  
  h1{
    text-transform: uppercase;
    margin: 1em 0;
  }
  
  section{
    @include center-block;
    max-width: 740px;
    padding: 0.5em;
  
  }
  
}


main{
  section{ 
    margin: 1em;
    padding: 1em;
    @include center-block;
    max-width: 1200px;
    border-bottom: 1px solid #444;
    
    h4,h3{
      text-transform: uppercase;
      font-weight: bold;
    }
    
    .course {
        display: flex;
        flex-wrap: wrap;
      
      .title {
        font-weight: bold;
        text-transform: uppercase;
        color: $color-brand;
        flex: 0 0 33.3%;
        max-width: 33%;
      }
      
      .descrition {
        flex: 0 0 66.6%;
        max-width: 66.6%;
        
        p {
          padding-left: 1em;
        }
      }
      
    }
  }
}

.skills {
  display: flex;
  flex-wrap: wrap;
  
  .column {
    flex: 0 0 50%;
    max-width: 50%;
    
    ul{
      list-style-type: none;
      margin: 0px;
      padding: 0px;
      
      li{
        padding-left: 1.5em;
        &::before{
          content: '►';
          padding-right: .5em;
          color: $color-brand;
        }
      }
    }
  }
}