//@media

$breakpoints: (  
  'small' : 576px,
  'medium' : 768px,
  'large'  : 992px,
  'xlarge' : 1200px
);
//background

$background-image: url("../img/bg4.png");
//colors
$white : #ffffff;
$black : #000000;
$color-border: lighten(#888, 20%);
$color-brand: darken(lightcoral, 10%);


$border-main: 1px solid $color-border;

//size
$max-width: 1000px;
$padding-indent: 3em;